@import url('https://fonts.googleapis.com/css2?family=family=Roboto:wght@300;500&display=swap');

/* сбрасываем стандартные стили для браузеров */
body {
	margin: 0;
	/*background: -webkit-linear-gradient(180deg, rgb(0, 186, 144) 46%, rgb(53, 72, 73));
	background: -moz-linear-gradient(180deg, rgb(0, 186, 144) 46%, rgb(53, 72, 73));
	background: linear-gradient(180deg, rgb(0, 186, 144) 46%, rgb(53, 72, 73));*/

	background: url('https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_Minecraft.jpg') center;
	background-attachment: fixed;
}

a {
	text-decoration: none;
}

ul, ol {
	padding: 0;
}

li {
	list-style: none;
}

/* http://htmlbook.ru/css/box-sizing */
* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	/*transition: .3s ease-in-out*/
}

/* сбрасываем стандартные стили для браузеров */


/* header styles START */
#wrapper {
	margin: 0 auto;
	width: 1200px;
	background: #eee;

}

header h1 {
	text-align: center;
	font-size: 40px;
	margin: 0;
	padding: 50px 0;
	text-shadow: 2px 2px 17px rgba(150, 90, 150, 0.87);
	text-transform: uppercase;
	color: #424242;
}

header nav {
	overflow: hidden;
}

header nav a {
	display: block;
	float: left;
	text-align: center;
	color: #fff;
	width: 240px;
	background: #000;
	padding: 25px 0;
}

header nav a:hover {
	color: #000;
	background: #fff;
}

main {
	overflow: hidden; /* пишем для родителя внитри которого есть float  */
}



/* header styles END */


/* main styles START */
.product_item {
	display: block;
	float: left;
	width: 400px;
	height: 400px;
	opacity: .5;
}

.product_item:hover {
	opacity: 1;
}

.product_item img {
	width: 100%;
}
/* main styles END */

/* footer */

footer {
	background: #424242;
	padding: 50px 0;
}

footer p {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	color: #ddd;
}

footer p:last-child {
	margin-top: 20px;
}

footer p span {
	text-transform: uppercase;
	font-weight: 800;
}


/* NEWS PAGE START  */

h2 {
	text-align: center;
}

.news_item {
	width: 200px;
	height: 400px;
	float: left;
	border-right: 1px solid #424242;
	border-top: 1px solid #424242;
	border-left: 1px solid #424242;
	transition: .09s ease-in-out;
	opacity: .8;
}

.news_item:hover {
	background: #000;
	color: #fff;
	cursor: pointer;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	border-style: dotted;
	transition: .09s ease-in-out;
	opacity: 1;
}

.news_item img {
	display: block;
	width: 100%;
}

.news_item p {
	font-size: 12px;
}

.news_item h3, .news_item p, .news_item a {
	padding: 0 15px;
}

.news_item a {
	color: #424242;
	font-size: 25px;
}

.news_item a:hover {
	color: #fff;
	text-decoration: underline;
}

/* NEWS PAGE END  */


/*  CONTACTS PAGE START  */

#contacts_page_main section {
	width: 1100px;
	margin: 0 auto 30px auto;
}

#contacts_page_main section::after {
	content: "";
	clear: both;
	display: block;
}

#contacts_page_main section iframe {
	display: block;
	width: 550px;
	height: 420px;
	float: left;
}

#contacts_page_main section aside {
	width: 510px;
	float: left;
	
	margin: 0 0 0 40px;
	padding: 20px;
}

#contacts_page_main section aside p {
	margin: 0;
}

#contacts_page_main section aside ul li {
	font-size: 20px;
}

#contacts_page_main section aside ul li a {
	color: green;
	font-weight: bold;
	padding: 2px;
}

#contacts_page_main section aside ul li a:hover {
	background: #000;
}

#social_btns {
	margin: 40px 0 0 0;
}

#social_btns a {
	display: block;
	float: left;
	margin: 0 20px 0 0;
	background: #000;
	color: yellow;
	padding: 10px;
	width: 50px;
	overflow: hidden;
	height: 50px;
	border-radius: 50%;
	transition: .1s ease-in-out;
	border: 1px solid transparent;
}

#social_btns a:hover {
	color: #000;
	background: white;
	transition: .1s ease-in-out;
	border: 1px solid #000;
}


/*  CONTACTS PAGE END  */




/* CART PAGE START  */

#products_list_block {
	width: 800px;
	height: 500px;
	background: red;
	float: left;
}

#order_form_block {
	width: 400px;
	height: 500px;
	background: green;
	float: left;
}

.product_card {
	width: 100%;
	overflow: hidden;
	background: yellow;
	padding: 15px;
}

.product_card img {
	display: block;
	width: 20%;
	float: left;
}

.product_detail {
	width: 60%;
	float: left;
	padding: 0 0 0 15px;
}

.btns_block {
	width: 20%;
	float: left;
	padding: 30px 0 0 0;
}

.btns_block a {
	display: block;
	width: 80%;
	text-align: center;
	margin: 0 auto 15px auto;
	background: #000;
	color: #fff;
	padding: 10px;
}

.btns_block a:last-child {
	background: red;
}



/* CART PAGE END  */